/* CarList.css */

.container {
	padding: 20px;
	text-align: center;
}

.carlist-h1 {
	text-align: center;
}
.carlist-h2 {
	text-align: center;
}

/* Основные стили для контейнера списка автомобилей */
.car-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	padding: 20px;
}

/* Стили для каждой карточки автомобиля */
.car-card {
	width: 180px;
	padding: 15px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	cursor: pointer;
	transition: transform 0.3s, box-shadow 0.3s;
}

.car-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Стили для изображения автомобиля */
.car-image {
	width: 100%;
	height: 120px;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 10px;
}

/* Стили для надписи "Нет изображения" */
.no-image {
	width: 100%;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	color: #777;
	font-size: 14px;
	border-radius: 8px;
	margin-bottom: 10px;
}

/* Стили для имени автомобиля */
.car-name {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin: 10px 0 5px;
}

/* Стили для цены автомобиля */
.car-price {
	font-size: 14px;
	color: #666;
}

.car-item {
	cursor: pointer;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s, box-shadow 0.3s;
}

.car-item:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.car-item img {
	border-radius: 8px;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.no-image {
	width: 100px;
	height: 100px;
	background-color: #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #777;
	border-radius: 8px;
}

/* Модальное окно */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	width: 80%;
	max-width: 600px;
	position: relative;
	text-align: center;
	animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
	from {
		transform: translateY(-50px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.modal-content .close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 60px;
	cursor: pointer;
	color: #f10505;
	transition: color 0.3s;
	z-index: 100;
}

.close:hover {
	color: #f44336;
}

/* Стили стрелок слайдера */
.slick-prev,
.slick-next {
	width: 40px;
	height: 40px;
	color: transparent; /* Прячем текст */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5); /* Фон стрелок */
	border-radius: 50%;
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	cursor: pointer;
	transition: background-color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

/* Левая стрелка */
.slick-prev:before {
	content: '◀'; /* Символ для левой стрелки */
	color: #fff;
	font-size: 20px;
}

/* Правая стрелка */
.slick-next:before {
	content: '▶'; /* Символ для правой стрелки */
	color: #fff;
	font-size: 20px;
}

.order-button {
	background-color: #25d366;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin-top: 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
}

.order-button:hover {
	background-color: #20b858;
}

.slick-slide img {
	width: 100%;
	height: 300px; /* Высота слайда */
	object-fit: cover;
	border-radius: 8px;
	display: block;
	margin: 0 auto;
}

/* Мобильная версия для экранов 768px */
@media (max-width: 768px) {
	.car-list-card {
		width: 90%;
		padding: 10px;
	}

	.car-list-image,
	.no-image {
		width: 100%;
	}

	.car-list-name {
		font-size: 50px;
		padding: 5px;
		margin: 5px;
	}

	.car-list-price {
		font-size: 50px;
		padding: 5px;
		margin: 5px;
	}

	.modal-content {
		width: 90%;
	}
}

/* Мобильная версия для экранов 500px */
@media (max-width: 500px) {
	.car-card {
		width: 100px;
		padding: 8px;
	}

	.car-image,
	.no-image {
		height: 80px;
	}

	.car-name {
		font-size: 12px;
	}

	.car-price {
		font-size: 10px;
	}

	.order-button {
		padding: 8px 16px;
		font-size: 14px;
	}

	.modal-content {
		width: 95%;
	}

	.close {
		font-size: 40px;
	}
}
